<div class="launches">
    <div *ngFor="let launch of launchedResults" class="launchedItems">
        <div class="launchtemplate">
            <div style="text-align: center;">
                <img src={{launch.links.mission_patch_small}} style="width: 80%; background-color: #dedede; margin-top: 10px;" />
            </div>
            <div style="padding-left: 10px;">
                <span>{{launch.mission_name}}#{{launch.flight_number}} </span>
                <label>Mission Ids:</label>
                <ul *ngFor="let missId of launch.mission_id">
                    <li>
                       {{missId}}
                    </li>
                </ul>
                <label>Launch Year:<small>{{launch.launch_year}}</small></label>
                
                <label>Succesful Launch:<small>{{launch.launch_success}}</small></label>
                
                <label>Succesful Land: <small>{{launch.launch_landing}}</small></label>
            </div>
            
           
        </div>

    </div>
</div>